body {
  margin: 0;
  padding: 0;
  font-family: 'Oswald', sans-serif;
  text-align: center!important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container {
  /* max-width: 42rem; */
  background-color: #318BA3;
  color: white;
  margin-left: auto!important;
  margin-right: auto!important;
  padding: 1rem!important;
  height: 100%;
  width: 100%;
  display: flex!important;
  flex-direction: column!important;
}

.welcomeContainer {
  padding: 1.5rem;
  display: block;
  box-sizing: border-box;
}

.logo {
  font-family: 'Luckiest Guy', cursive;
  font-size: 2.5rem;
  margin-bottom: 2rem;
  margin-top: 2rem;
  font-weight: 500;
  line-height: 1.2rem;
}

.welcomeExplainer {
  font-family: 'Oswald', sans-serif;
  font-size: 1.25rem;
  font-weight: 300;
  margin-top: 0;
  margin-bottom: 2rem;
}

.button {
  font-family: 'Luckiest Guy', cursive;
  font-size: 1.5rem;
  background-color:#FF3800;
  color:white;
  border-radius: 1rem;
  padding: .5rem;
}

.welcomeFooter{
  background-color: #14ABBD;
  margin-top: auto!important;
  padding-bottom: .5rem;
  padding-top: .5rem;
  display: block;
}

.footerLink {
  font-size: .75rem;
  margin-left: 1rem;
  margin-right: 2.5rem;
  color: white;
}

.loginFormContainer {
  width: 80%;
  display:flex;
}

.createAccountLink {
  margin-top: 2rem;
  color: white;
}

Form {
  padding: 1rem;
}

.createAccountForm {

}

.updatesCheckbox {
  padding-bottom: 1rem;
}

.quizContainer {
  background-color: white;
  color: black;
  border-radius: 2rem;
}

.questionCount {
  font-size: 1rem;
  padding-bottom: 1rem;
}

.question {
  padding-bottom: 1rem;
  text-align: center;
}

.answerOptionsContainer {
  display: flex;
}

.answerOption {
  background-color: white;
  box-shadow: -3px 3px lightgray;
  padding: .5rem;
  margin: .25rem;
  border-radius: .5rem;
  list-style-type: none;
}

.radioCustomButton {
  display: none;
}